* {
    margin: 0;
}

header {
    background-color: rgb(20, 115, 238);
    display: flex;
    justify-content: space-between;
    font-size: 30px;

}

#nav {
   float: right;
   border: none;
   background-color: rgb(20, 115, 238);
   color: white;
   font-size: 50px;
}

.textbox {
    display: flex;
    flex-direction: column;
    float: right;
    width: 80%;
}

input {
    border: none;
    border-left: solid;
    font-size: 100px;
}

#noteText {
    font-size: 80px;
    padding-bottom: 100% ;
}